/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
    font-family: 'poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* Algemene styling */
header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
   
    header {
        background-color: #f0f0f0;
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;
    }
    
    .logo {
        text-decoration: none;
        color: #bd1f9b;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.8em;
    }
    
    .navigation {
        display: flex;
        align-items: center;
       
    }
    
    .navigation__ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .navigation__ul li {
        position: relative;
        padding-left: 30px;
    }
    
    .navigation__ul li a {
        color: #262626;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 500;
        padding: 10px;
        text-transform: uppercase;
        transition: color 0.5s;
        position: relative;
        z-index: 1;
    }
    .navigation__ul li a.navigation--active{
        color: #fff;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: 500;
        padding: 10px;
        text-transform: uppercase;
        transition: color 0.5s;
        position: relative;
        z-index: 1;
        background-color: #bd1f9b;
    }
    
    .navigation__ul li a:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid #262626;
        border-bottom: 2px solid #262626;
        transform: scaleY(2);
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
        z-index: -1;
    }
    
    .navigation__ul li a:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #bd1f9b;
        transform: scale(0);
        opacity: 0;
        transition: transform 0.3s, opacity 0.3s;
        z-index: -2;
    }
    
    .navigation__ul li a:hover {
        color: #fff;
    }
    
    .navigation__ul li a:hover:before {
        transform: scaleY(1);
        opacity: 1;
    }
    
    .navigation__ul li a:hover:after {
        transform: scale(1);
        opacity: 1;
    }
    
    /* Mobile styling */
    .hamburger {
        display: none;
        font-size: 1.8em;
        cursor: pointer;
    }
   
    @media (max-width: 768px) {
        header {
            padding: 10px 20px;
        }
    
        .navigation {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 60px;
            right: 0;
            background-color: #f0f0f0;
            width: 100%;
            padding: 10px 0;
        }
    
        .navigation__ul {
            flex-direction: row;
            width: 70%;
            flex-wrap: wrap;
            justify-content: space-around
        }
    
        .navigation__ul li {
            padding: 10px 0;
            text-align: center;
        }
    
        .hamburger {
            display: block;
        }
    
        .navigation.show {
            display: flex;
        }
    }
}    

/* Algemene stijlinstellingen */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Welkomstsectie */
.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-image: url(../images/web.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: #262626;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1rem;
}

.welcome__info {
    background: rgba(255, 255, 255, 0.8);
    padding: 2em;
    border-radius: 10px;
}

.welcome__info h1 {
    font-size: 3em;
    font-weight: 700;
    color: #640650;
}

.welcome__line {
    width: 80px;
    height: 4px;
    background-color: #f159cb;
    margin: 10px auto;
}

.welcome__info h2 {
    font-size: 2em;
    color: #640650;
    margin: 20px 0;
}

.main-btn {
    color: #fff;
    background-color: #f159cb;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.7s ease;
    display: inline-block;
}

.main-btn:hover {
    background-color: #000000;
    transform: scale(1.1);
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #262626;
    font-size: 1.7em;
    padding: 0 15px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #f159cb;
}

/* Projecten sectie */
.projects {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.title {
    font-size: 2.5em;
    color: #640650;
    margin: 40px 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
}

.project-card {
    width: 320px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.3s ease,opacity 0.3s ease, box-shadow 0.3s ease;
}

/* Scroll-animatie - Fade-in en Slide-in */
.project-card.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Hover-effect op projectafbeelding */
.project-image img {
    transition: transform 0.3s ease;
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.project-card:hover .project-image img {
    transform: scale(1.05); /* Zoom in effect */

}

/* Hover-effect op projectinformatie */
.project-card:hover .project-info {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.project-info {
    padding: 20px;
    text-align: left;
}

.project-category {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.4em;
    color: #640650;
    font-weight: 700;
    margin: 0.3rem 0;
}

.projects__link {
    color: #f159cb;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.7s ease;
    display: inline-block;
}


.project--link {
    color: #f159cb;
    background-color: #640650;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.8rem 2rem;
    border-radius: 15px;
    margin-top: 20px;
    transition: 0.7s ease;
    display: inline-block;
}

.project--link:hover {
    background-color: #f159cb;
    color: #fff;
}

.contact {
    width: 100%;
    padding:1rem;
    text-align: center;
    background-color: #f9f9f9;
}
.contact-info-left {
    width: 45%;
    text-align: left;
}
.contact__title {
    font-size: 2.5em;
    color: #640650;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.contact-card {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.contact-icon {
    font-size: 2em;
    margin-right: 10px;
}

.contact-info h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.contact-info p {
    font-size: 1em;
    color: #555;
}
.contact-form-right {
    width: 45%;
    text-align: left;
}

.contact-form-right form input,
.contact-form-right form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.contact-form-right form button {
    padding: 10px 20px;
    background-color: #f159cb;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form-right form button:hover {
    background-color: #bd1f9b;
}
/* Voor kleinere schermen (mobiel) */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .contact-info-left,
    .contact-form-right {
        width: 100%;
        text-align: center;
    }
}

/* Responsiviteit */
@media (max-width: 768px) {
    .main-btn {
        font-size: 1em;
        padding: 0.8em 1.5em;
    }

    .project-card {
        width: 90%;
    }

    .welcome__info h1 {
        font-size: 2.2em;
    }

    .welcome__info h2 {
        font-size: 1.8em;
    }

    .title {
        font-size: 2em;
    }
}
